#landing_page {
  #welcome_to_milispace {
    background-image: url('../assets/landing_page/bg1.png');
    background-size: cover;
    background-position: center center;

    .navbar {
      margin-top: 30px;
      min-height: 40px;

      #navbar-content {
        padding-right: 0;
        font-weight: bold;
        letter-spacing: 2px;
      }

      .navbar-brand{
        padding: 0;
        height: 40px;
      }

      .nav-item {
        padding: 10px 20px;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 25px;

        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
      }

      .nav-item:hover {
        background-color: #dbb10a;
      }
    }

    .page-heading {
      position: relative;
      top: 50px;
    }

    .page-heading-content {
      margin-top: 100px;
      color: #ffffff;
      h1 {
        font-weight: bold;
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      p {
        letter-spacing: 1.5px;
        line-height: 20px;
      }

      .download-links {
        position: relative;
        top: 15px;
      }

      .link-to-download {
        display: inline-block;
        margin-right: 10px;
        padding: 8px 22px;

        color: #ffffff;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        text-decoration: none;

        border: 1px solid rgba(255, 255, 255, 0.66);
        border-radius: 20px;

        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;

        i {
          position: relative;
          bottom: -2px;
          margin-right: 15px;
          font-size: 24px;
        }
      }

      .link-to-download:hover {
        background-color: #dbb10a;
        border-color: #dbb10a;
      }
    }
  }

  #see_nearly {
    background-color: #f8f8f8;

    .section-heading {
      position: relative;
      top: 250px;
    }

    .label-tag {
      padding: 5px 10px;
      letter-spacing: 2px;
      background-color: #c8c8c8;
      border-radius: 20px;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 15px;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 5px;
      color: #666666;
      letter-spacing: 1.5px;
      line-height: 20px;
    }

    .red-balloon {
      position: absolute;
      top: -200px;
      left: -100px;

      img {
        width: 75%;
      }
    }

    .blue-balloon {
      position: absolute;
      right: 10px;
      top: 0;
    }

    .big-cloud {
      position: absolute;
      top: 0;
      left: -200px;

      img {
        width: 75%;
      }
    }

    .small-cloud {
      position: absolute;
      top: -100px;
      right: 50px;

      img {
        width: 75%;
      }
    }
  }

  #find_around {
    .section-heading {
      position: relative;
      top: 250px;
    }

    .label-tag {
      padding: 5px 10px;
      letter-spacing: 2px;
      background-color: #c8c8c8;
      border-radius: 20px;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 15px;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 5px;
      color: #666666;
      letter-spacing: 1.5px;
      line-height: 20px;
    }

    .earth-map {
      position: absolute;
      width: 120%;
      left: -22%;
      top: -108px;
    }

    .iphone-find-around {
      position: relative;
      top: -75px;

      img {
        width: 55%;
        position: relative;
        left: 17%;
      }
    }
  }

  #chatting {
    background-image: url('../assets/landing_page/bg4.jpg');
    background-size: cover;
    background-position: center center;

    .section-heading {
      position: relative;
      top: 250px;
    }

    .label-tag {
      padding: 5px 10px;
      letter-spacing: 2px;
      color: #deb40f;
      background-color: #ffffff;
      border-radius: 20px;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 20px;
      margin-top: 15px;
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 5px;
      color: #ffffff;
      letter-spacing: 1.5px;
      line-height: 20px;
    }
  }


}