#sign-up-page {
  background: #1fb287;

  .container {
    position: relative;
  }

  .second-step, 
  .third-step,
  .fourth-step {
    display: none;
  }

  .third-step,
  .fourth-step, {
    text-align: center;
  }

  .fourth-step {
    color: white;
    letter-spacing: 1px;

    h2 {
      margin-bottom: 30px;
    }
  }

  .first-step-status,
  .second-step-status,
  .third-step-status,
  .fourth-step-status {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    width: 100px;
    bottom: -50px;

    span.status {
      position: absolute;
      top: 37%;
      left: 0;
      right: 0;
      margin: auto;

      height: 22px;
      width: 35px;
      line-height: 22px;
      font-size: 22px;
      
      color: white;
    }
  }

  .fourth-step-status {
    position: relative;
    margin-top: 70px;
  }
  
  h1 {
    margin-bottom: 80px;
    font-size: 30px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }

  #sign-up-container {
    padding-top: 30px;
    height: 100%;
    background: #F6F6F6;
  }

  #sign-up {
    position: relative;
    top: 50px;
    width: 50%;
    margin: auto;
    color: #838383;

    #user_email,
    #user_password,
    #user_email_confirmation,
    #user_first_name,
    #user_last_name,
    #user_nickname,
    #user_birthday,
    #user_gender,
    #user_phone_number {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 10px;

      border: 1px solid #E3E2E2;
      border-radius: 30px;
      color: #838383;
      letter-spacing: 1px;
      outline: none
    }
    ::-webkit-input-placeholder {
      color: #AFAFAF;
    }
    :-moz-placeholder {
      color: #AFAFAF;
    }
    ::-moz-placeholder {
      color: #AFAFAF;
    }
    :-ms-input-placeholder {
      color: #AFAFAF;
    }

    .user_first_name,
    .user_last_name {
      display: inline-block;
      width: 47%;
    }

    .user_first_name {
      float: left;
    }

    .user_last_name {
      float: right;
    }

    .col-xs-12 {
      margin-bottom: 20px;
    }

    .sign-in-next-step,
    .sign-in-previous-step {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 20px;

      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;      

      border-radius: 30px;
    }

    .sign-in-next-step {
      background: #dbb10a;
    }

    .sign-in-previous-step {
      background: #1FB287;
    }

    #return-first-step,
    #move-third-step,
    #return-second-step,
    #completed-sign-up {
      display: inline-block;
      width: 47%;
    }

    #move-third-step,
    #completed-sign-up {
      margin-left: 6%;
    }

  }

  #user_profile_photo,
  #upload_to_s3_btn {
    display: none;
  }

  .notice-choose-profile-photo {
    text-align: center;
    font-size: 18px;
  }

  .choose-image {
    position: relative;
    margin: auto;
    margin-bottom: 20px;

    height: 50px;
    width: 50px;

    border: 3px dotted #14ACE5;
    cursor: pointer;

    .fa-plus {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;


      height: 20px;
      width: 18px;

      font-size: 22px;
      line-height: 22px;
      color: #14ACE5;
    }
  }

  #display-img-url {
    display: none;
    padding: 20px;
    max-width: 100%;
    max-height: 300px;
    cursor: pointer;
  }

  #loading-state {
    display: none;
    background: rgba(0, 0, 0, 0.5);
  }

  #s3-direct-upload {
    display: none;
  }

  .green-background {
    background-color: #1FB287 !important;
  }
}