@media (max-width: 991px) {
  #landing_page {
    #welcome_to_milispace {
      .page-heading-content {
        text-align: center;
      }

      .main-images {
        top: 50px;
        img {
          margin: auto;
        }
      }
    }

    #see_nearly {
      .section-heading {
        text-align: center;
      }

      .images {
        display: inline-block;
        top: 100px;
      }

      .main-image {
        margin: auto;
      }

      .red-balloon {
        top: -25%;
        left: 5%;
      }

      .blue-balloon {
        right: -10%;
        top: 15%;
      }

      .small-cloud {
        top: 0;
        right: 0;
      }

      .big-cloud {
        top: 40%;
        left: -10%;
      }
    }

    #find_around {
      .section-heading {
        text-align: center;
      }

      .images {
        display: inline-block;
        top: 100px;
      }

      .main-image {
        margin: auto;
      }

      .iphone-find-around {
        top: 0;
        img {
          left: 22%;
        }
      }

      .earth-map {
        top: 10%;
        left: -17%;
      }
    }

    #chatting {
      background-image: url('../assets/landing_page/bg4-1.jpg');

      .section-heading {
        text-align: center;
      }
    }

    #follow {
      .section-heading {
        text-align: center;
      }

      .images {
        display: inline-block;
        top: 50px;
      }

      .main-image {
        margin: auto;
        top : 0;
      }

      .paper-plane {
        top: -75%;
      }

      .small-cloud {
        top: -45%;
        left: -20%;
      }

      .medium-cloud {
        top: -70%;
      }
      
      .big-cloud {
        top: -90%;
        left: 10%;
      }
    }
  }

  #fp-nav {
    display: none;
  }

}