@media (max-width: 767px) {
  #landing_page {
    #welcome_to_milispace {
      .page-heading {
        top: 0;
      }

      h1 {
        font-size: 22px;
      }

      .page-heading-content {
        margin-top: 0;

        .link-to-download {
          padding: 5px 10px;
          font-size: 12px;
        }
      }

      .main-images {
        top: 50px;
        img {
          margin: auto;
        }
      }

    }

    #see_nearly {
      .page-heading {
        top: 0;
      }

      h2 {
        font-size: 22px;
      }

      .section-heading {
        top: 100px;
        margin-top: 0;

        .link-to-download {
          padding: 5px 10px;
          font-size: 12px;
        }
      }

      .main-images {
        top: 50px;
        img {
          margin: auto;
        }
      }
    }

    #find_around {
      .section-heading {
        top: 100px;
        margin-top: 0;
      }

      h2 {
        font-size: 22px;
      }

      .images {
        top: 50px;
      }
    }

    #chatting {
      .section-heading {
        top: 100px;
        margin-top: 0;
      }

      h2 {
        font-size: 22px;
      }
    }

    #follow {
      .section-heading {
        top: 100px;
        margin-top: 0;
      }

      h2 {
        font-size: 22px;
      }

      .paper-plane {
        top: -75%;
      }

      .small-cloud {
        top: -45%;
        left: -20%;
      }

      .medium-cloud {
        top: -70%;
      }

      .big-cloud {
        top: -90%;
        left: 10%;
      }
    }
    .gradient-section {
      visibility: inherit;
    }
  }
}