/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "plugin/jquery.fullPage";
@import "plugin/animate";

@import "shared/menu";
@import "home/index";

@import "devise/sessions/new";
@import "devise/registations/new";

@import "reponsive/max-width-991";
@import "reponsive/max-width-767";

@font-face {
  font-family: sfUiDisplayFont;
  src: url(/assets/web-fonts/SF-UI-Display-Light.otf);
}

body {
  font-family: sfUiDisplayFont;
}

.section {
  overflow: hidden;
}

label.error {
  color: #DB2B2B;
  letter-spacing: 1px;
  text-indent: 20px;
  margin-bottom: 20px;
}

#loading-state {
	position: absolute;
  top: 0;
  left: 0;
  border: 0;
  right: 0;
  margin: auto;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  
  img {
  	width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
